<app-page-wrapper>
  <div class="col-lg-12">
    <fieldset style="padding-right: 250px">
      <div class="form-group row"><label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10"><input type="text" class="form-control" placeholder="Item name"></div>
      </div>
      <div class="form-group row"><label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10"><input style="padding-bottom: 80px" type="text" class="form-control" placeholder="Inomine pa trizeci spirtitu santi..."></div>
      </div>
      <p></p>
      <span style="padding-right: 154px">Status</span>
      <select style="padding-right: 150px" name="demo" id="#">
        <option selected="selected" value="one">NOT_FOR_SALE</option>
        <option value="two">FOR_SALE</option>
      </select>
      <p></p>
      <span style="padding-right: 165px">Tags</span>
      <select style="padding-right: 150px" name="demo" id="#">
        <option selected="selected" value="one">Option 1</option>
        <option value="two">Option 2</option>
        <option value="three">Option 3</option>
      </select>
    </fieldset>
  </div>
</app-page-wrapper>
