<nav class="navbar-static-side">
  <ul class="nav">
    <li class="nav-header">
      <div>
        <a href="">
          <strong>User Profile</strong>
        </a>
      </div>
    </li>
    <li>
      <a (click)="addItem()"><i class="fa fa-add"></i> <span class="nav-label">  Add item</span></a>
    </li>
    <li>
      <a href="grid_options.html"><i class="fa fa-layer-group"></i> <span class="nav-label">  Your items</span></a>
    </li>
    <li>
      <a href="layouts.html"><i class="fab fa-stack-exchange"></i> <span class="nav-label">  Messages</span></a>
    </li>
    <li>
      <a href="layouts.html"><i class="fa fa-dollar-sign"></i> <span class="nav-label">  Offers</span></a>
    </li>
  </ul>
</nav>
