<nav class="navbar-static-side">
  <ul class="nav">
    <li class="nav-header">
      <div>
        <a href="#">
          <strong>User Profile</strong>
        </a>
      </div>
    </li>
    <li>
      <a href="layouts.html"><i class="fa fa-alipay"></i> <span class="nav-label"> Add item</span></a>
    </li>
    <li>
      <a href="grid_options.html"><i class="fa fa-laptop"></i> <span class="nav-label"> Your items</span></a>
    </li>
    <li>
      <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label"> Messages</span></a>
    </li>
    <li>
      <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label"> Offerts</span></a>
    </li>
  </ul>
</nav>
